In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
df = pd.read_csv('datasets/hotel_booking.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78290 entries, 0 to 78289
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     78290 non-null  int64
 1   hotel                           78290 non-null  object
 2   lead_time                       78290 non-null  int64
 3   arrival_date_month              78290 non-null  object
 4   stays_in_weekend_nights         78290 non-null  int64
 5   stays_in_week_nights            78290 non-null  int64
 6   adults                          78290 non-null  int64
 7   children                        78287 non-null  float64
 8   babies                          78290 non-null  int64
 9   meal                            78290 non-null  object
 10  country                         78290 non-null  object
 11  previous_cancellations          78290 non-null  int64
 12  previous_bookings_not_canceled  78290 non-null  int64
 13  reserved_room_type              78290 non-null  object
 14  booking_changes                 78290 non-null  int64
 15  deposit_type                    78290 non-null  object
 16  days_in_waiting_list            78290 non-null  int64
 17  customer_type                   78290 non-null  object
 18  adr                             78290 non-null  float64
 19  required_car_parking_spaces     78290 non-null  int64
 20  total_of_special_requests       78290 non-null  int64
 21  name                            78290 non-null  object
 22  email                           78290 non-null  object
 23  phone-number                    78290 non-null  object
dtypes: float64(2), int64(12), object(10)
memory usage: 14.3+ MB

In [12]:
#one hot encoding
categorical_cols = ['hotel', 'arrival_date_month', 'meal', 'country', 'reserved_room_type', 'deposit_type', 'customer_type']
ohe = OneHotEncoder(drop='first', sparse_output=False)
df_encoded = pd.DataFrame(ohe.fit_transform(df[categorical_cols]))
df_encoded.columns = ohe.get_feature_names_out(categorical_cols)
df.drop(columns=categorical_cols, inplace=True)
df = pd.concat([df, df_encoded], axis=1)

In [13]:
#dropping unnecessary fields
df = df.drop(columns=['name', 'email', 'phone-number'])

In [14]:
#handling missing values
df['children'].fillna(0, inplace=True)

In [15]:
#augment features
df['total_stay'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

df['total_guests'] = df['adults'] + df['children'] + df['babies']

df['total_previous_bookings'] = df['previous_cancellations'] + df['previous_bookings_not_canceled']

df['cancel_rate'] = df['previous_cancellations'] / df['total_previous_bookings']

df['total_cost'] = df['adr'] / df['total_stay']

df['adults_ratio'] = df['adults'] / df['total_guests']

df['cars_to_guests'] = df['required_car_parking_spaces'] / df['total_guests']

df['guests_to_cost'] = df['total_guests'] + df['total_cost']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78290 entries, 0 to 78289
Data columns (total 56 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     78290 non-null  int64
 1   lead_time                       78290 non-null  int64
 2   stays_in_weekend_nights         78290 non-null  int64
 3   stays_in_week_nights            78290 non-null  int64
 4   adults                          78290 non-null  int64
 5   children                        78290 non-null  float64
 6   babies                          78290 non-null  int64
 7   previous_cancellations          78290 non-null  int64
 8   previous_bookings_not_canceled  78290 non-null  int64
 9   booking_changes                 78290 non-null  int64
 10  days_in_waiting_list            78290 non-null  int64
 11  adr                             78290 non-null  float64
 12  required_car_parking_spaces     78290 non-null  int64
 13  total_of_special_requests       78290 non-null  int64
 14  hotel_Resort Hotel              78290 non-null  float64
 15  arrival_date_month_August       78290 non-null  float64
 16  arrival_date_month_December     78290 non-null  float64
 17  arrival_date_month_February     78290 non-null  float64
 18  arrival_date_month_January      78290 non-null  float64
 19  arrival_date_month_July         78290 non-null  float64
 20  arrival_date_month_June         78290 non-null  float64
 21  arrival_date_month_March        78290 non-null  float64
 22  arrival_date_month_May          78290 non-null  float64
 23  arrival_date_month_November     78290 non-null  float64
 24  arrival_date_month_October      78290 non-null  float64
 25  arrival_date_month_September    78290 non-null  float64
 26  meal_FB                         78290 non-null  float64
 27  meal_HB                         78290 non-null  float64
 28  meal_SC                         78290 non-null  float64
 29  meal_Undefined                  78290 non-null  float64
 30  country_ESP                     78290 non-null  float64
 31  country_FRA                     78290 non-null  float64
 32  country_GBR                     78290 non-null  float64
 33  country_PRT                     78290 non-null  float64
 34  reserved_room_type_B            78290 non-null  float64
 35  reserved_room_type_C            78290 non-null  float64
 36  reserved_room_type_D            78290 non-null  float64
 37  reserved_room_type_E            78290 non-null  float64
 38  reserved_room_type_F            78290 non-null  float64
 39  reserved_room_type_G            78290 non-null  float64
 40  reserved_room_type_H            78290 non-null  float64
 41  reserved_room_type_L            78290 non-null  float64
 42  reserved_room_type_P            78290 non-null  float64
 43  deposit_type_Non Refund         78290 non-null  float64
 44  deposit_type_Refundable         78290 non-null  float64
 45  customer_type_Group             78290 non-null  float64
 46  customer_type_Transient         78290 non-null  float64
 47  customer_type_Transient-Party   78290 non-null  float64
 48  total_stay                      78290 non-null  int64
 49  total_guests                    78290 non-null  float64
 50  total_previous_bookings         78290 non-null  int64
 51  cancel_rate                     7959 non-null   float64
 52  total_cost                      77709 non-null  float64
 53  adults_ratio                    78166 non-null  float64
 54  cars_to_guests                  78170 non-null  float64
 55  guests_to_cost                  77709 non-null  float64
dtypes: float64(42), int64(14)
memory usage: 33.4 MB